<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый объект</title>
</head>
<body>
Введите адрес нового строительного объекта:
<form th:method="POST" th:action="@{/facilities}" th:object="${facility}">
    <label for="country">Страна: </label>
    <input type="text" th:field="*{country}" id="country">
    <div style="color:red" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">country error</div>
    </br>
    <label for="city">Город: </label>
    <input type="text" th:field="*{city}" id="city">
    <div style="color:red" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city error</div>
    </br>
    <label for="postcode">Подчтовый индекс:</label>
    <input type="text" th:field="*{postcode}" id="postcode">
    <div style="color:red" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">postcode error</div>
    </br>
    <label for="street">Улица:</label>
    <input type="text" th:field="*{street}" id=street>
    <div style="color:red" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">street error</div>
    </br>
    <label for="house_number">Номер дома:</label>
    <input type="text" th:field="*{houseNumber}" id=house_number>
    <div style="color:red" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}">street error</div>
    </br>
    <input type="submit" value="Добавить"/>
</form>

</body>
</html>