<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Владелец</title>
</head>
<body>

Информация о владельце:
<p th:text="${'Имя: ' + client.getName()}">name</p>
<div th:if="${client.getLastname() != null}" th:text="${'Фамилия: ' + client.getLastname()}">lastname</div>
<p th:text="${'Номер телефона: ' + client.getPhoneNumber()}">phone number</p>
<div th:if="${client.getEmail() != null}" th:text="${'e-mail: ' + client.getEmail()}">email</div>
<div th:if="${client.getAddInfo() != null}" th:text="${'Дополнительная информация: ' + client.getAddInfo()}">
    additional info</div>
</br>

<a th:href="@{{client_id}/edit(client_id=${client.getId()})}">Редактировать</a>

</br>

Объекты клиента:
<div th:each="facility: ${facilities}">
    <a th:href="@{/facilities/{id}(id=${facility.getId()})}"
       th:text="${facility.getCountry()} + ', ' + ${facility.getCity()} + ', ' + ${facility.getPostcode()}
        + ', ' + ${facility.getStreet()} + ', ' + ${facility.getHouseNumber()}">facility</a>
</div>

</br>

<form th:method="DELETE"
      th:action="@{/facilities/{id}/clients/{client_id}(id=${facilityId}, client_id=${client.getId()})}">
    <input type="submit" value="Удалить клиента из объекта"/>
</form>

</br>

<a th:href="@{/facilities/{id}/clients(id = ${facilityId})}">Назад</a>

</body>
</html>